.eachFolder {
  padding-left: 3px;
  padding-top: 2px;
  width: 100%;
  border: 1px solid #919191;
}

.selected {
  background-color: aliceblue;
  /* color: rgb(228, 235, 235); */
}

.fButton,
.backButton {
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  text-align: center;
  padding: 10px;
  border: 1px solid #919191;
}

.backButton {
  margin-top: 15px;
  margin-bottom: 15px;
}

.List {
  text-align: center;
}
/* .eachNote h2 {
  margin: 0;
} */
